<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>About Us</title>
    <style>
        .text-danger {
            color: red;
        }
    </style>
</head>
<body>

<h1>About Us </h1>
<p>Developed by <span th:text="${name}"></span></p>
<a href="/" class="btn btn-danger btn-sm">home</a>

</body>
</html>
